.manualuploadcontainer{
    margin-top: 1.5rem;
    .addbutton{
        width: 10%;
        height: 2.5rem;
        border-radius: 0.5rem;
        border: none;
        background-color:rgb(36, 182, 36);
        color: white;
        margin-top: 2rem;
    }
    .CollegeAddConatiner{
      padding: 2em;
      box-shadow: 1px 1px 10px 1px rgb(223, 222, 222);
      border-radius: 1rem;
      width: 60rem;
      margin-top: 1rem;
      background-color: rgba(205, 205, 255, 0.2);
    }
}