@mixin NoStyle {
  border: none;
  background: none;
  outline: none;
}

@mixin Flex-Jcenter-Acenter($Flex-Direction: row) {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: $Flex-Direction;
}

@mixin Flex-Acenter ($FD-value:row){
  display: flex;
  align-items: center;
  flex-direction: $FD-value;
}

@mixin Flex-Jcenter {
  display: flex;
  justify-content: center;
}

@mixin Flex-Column {
  display: flex;
  flex-direction: column;
}

@mixin Flex-JC($JC-Value) {
  display: flex;
  justify-content: $JC-Value;
}

@mixin Flex-AC($AC-Value) {
  display: flex;
  align-items: $AC-Value;
}

@mixin Flex-Acenter-J($J-value) {
  display: flex;
  justify-content: $J-value;
  align-items: center;
}
@mixin Flex-Aleft($FD-value:row)
{
  display: flex;
  flex-direction: $FD-value;
  align-items: left;
}
@mixin Flex-Jcenter-A($A-value) {
  display: flex;
  justify-content: center;
  align-items: $A-value;
}
