// color constants

$Primary: #333751;
$Secondary: #e8e9f2;
$White: #ffff;
$Blue: #3f4ae4;
$Black: #000000;
$LiteBlack: rgba(0, 0, 0, 0.2);
$lightBlackText:rgba(0, 0, 0, 0.6);
$Green-Button: rgb(36, 182, 36);
$darkGrey: rgb(70, 70, 70);
$lightGrey: rgb(107, 106, 106);
// color constants
$Primary: #c5cae9;
$Secondary: #e8e9f2;
// $White: #e8e9f2;
// $White: #e8e9f2;
$Blue: #3f51b5;
$red: rgb(236, 52, 52);
$red: rgb(236, 52, 52);
$admin-primary: #5962e8;
$admin-primary-hover: rgba(89, 98, 232, 0.9);
$admin-global-bg: rgba(0, 0, 0, 0.03);
$yellow:rgb(226, 226, 22);
