.line {
  width: 80%;
  margin-left: 1rem;
  margin-top: 2rem;
}
.bulkupload-button {
  border: none;
  background-color: #5962e8;
  padding: 0.625rem;
  margin-bottom: -3rem;
  width: 15rem;
  border-radius: 0.5rem;
  font-family: arial;
  margin-left: 77rem;
  color: #fff;
  font-size: 1rem;
}
.bulkupload-button:hover {
  background-color: #8d93e6;
}

.mcq-heading {
  margin-top: 3.25rem;
  margin-left: 6rem;
}

.radio-container {
  display: flex;
  flex-direction: row;
  gap: 16%;
  font-size: 1.5rem;
  margin-left: 16rem;
  margin-top: -1.75rem;
}

.radio-container label {
  display: flex;
  align-items: center;
  margin-right: 10px;
}

.radio-container input[type="radio"] {
  margin-right: 5px;
}

.radio-container input[type="radio"]:checked + label::before {
  background-color: #333;
}

.weightage-setup {
  margin-top: 3.25rem;
  margin-left: 6rem;
}

.radio-container-wt {
  display: flex;
  flex-direction: row;
  gap: 20%;
  font-size: 1.5rem;
  margin-left: 16rem;
  margin-top: -1.75rem;
}
.radio-container-wt input[type="radio"] {
  margin-right: 5px;
}

.question-setup {
  margin-top: 3.25rem;
  margin-left: 6rem;
}

.question-textarea {
  width: 60%;
  height: 145px;
  margin-bottom: 20px;
  padding: 11px;
  border: 1px solid #ccc;
  border-radius: 1rem;
  margin-left: 20rem;
  margin-top: -2rem;
  overflow-y: auto;
}

.image-upload {
  // position: relative;

  .image-icon {
    position: absolute;
    right: 70rem;
    top: 8%;
    font-size: 2rem;
    transform: translateY(-50%);
    cursor: pointer;
    color: #000;
  }
}
.dropdown-container select {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #f9f9f9;
  color: #333;
  font-size: 14px;
  margin-left: 16rem;
  margin-top: -1.43rem;
}

.dropdown-container select:hover,
.dropdown-container select:focus {
  outline: none;
  border-color: #666;
}

.button-type-setup {
  margin-top: 2.25rem;
  margin-left: 6rem;

  .dropdown-container {
    margin-top: -1rem;
    height: fit-content;

    select {
      width: 150px;
      padding: 5px;
      border-radius: 5px;
      border: 1px solid #ccc;
      background-color: #fff;
      font-size: 16px;
      cursor: pointer;
    }
  }

  .add-option {
    display: flex;
    align-items: center;
    margin-left: -3rem;
    margin-top: 1rem;
    cursor: pointer;

    .plus-icon {
      font-size: 1.5rem;
      color: #000;
      margin-left: 15rem;
    }

    span {
      font-size: 1.2rem;
      color: #000; 
    }
  }
  .new-option {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    gap: 10%;
    font-size: 1.1rem;
    margin-left: 12rem;
    .optionDiv {
      display: flex;
      margin-bottom: 0.5rem;
      gap: 1%;
      height: 2rem;
    }
  }
  .trash-icon {
    margin-top: 0.45rem;
  }
  .options-container {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
  }
}
.correct-answer-section {
  margin-top: 20px;
  padding: 10px;
  margin-left: 6rem;

  h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
  }

  p {
    font-size: 1.25rem;
    margin-left: 12rem;
    margin-top: -1.99rem;
  }
}
.save-button {
  border: none;
  background-color: #5962e8;
  padding: 0.625rem;
  margin-bottom: -3rem;
  width: 15rem;
  font-family: arial;
  margin-left: 77rem;
  color: #fff;
  font-size: 1rem;
}


.upload-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #ececec;
  padding: 5rem;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.file-upload-area {
  border: 2px dashed #cccccc;
  border-radius: 8px;
  padding-left: 10rem;
  padding-right: 10rem;
  padding-top: 4rem;
  padding-bottom: 4rem;
  text-align: center;
  cursor: pointer;
  transition: border-color 0.3s ease;
}

.file-upload-area:hover {
  border-color: #333333;
}

.file-upload-label {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.file-upload-icon {
  font-size: 36px;
  margin-bottom: 10px;
}
.upload-header {
  margin-bottom: 2rem;
}

.submit-button {
  background-color: #5962e8;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 2rem;
  margin-left: 11rem;
  transition: background-color 0.3s ease;
}

.submit-button:hover {
  background-color: #8d93e6;
}
.image-preview {
  margin-left: 26rem;
  margin-top: 1rem;
  display: flex;
  width: 65rem;
  height: auto;
  // overflow-x: auto;
  flex-wrap: wrap;
  img{
    // width: 5rem;
    height: 8rem;
    margin: 0 1rem;
  }
}
.delete-icon {
  margin-bottom: 8rem;
  color: red;
  margin-left: .5rem;
}
