@import '../../stylesheets/index.scss';

.TableStyle {
  @include Flex-Acenter(column);
  a {
    text-decoration: none;
  }
  table {
    min-width: 70%;
    /* max-width: 85%; <--
     i have commented this style, if you wanna add this, 
     please check with all the table stylings in every page */
    width: 100%;
    border-collapse: collapse;
    th:first-child,
    td:first-child {
      border-top-left-radius: 8px;
      border-bottom-left-radius: 8px;
    }
    th:last-child,
    td:last-child {
      border-top-right-radius: 8px;
      border-bottom-right-radius: 8px;
    }

    th {
      background-color: rgb(54, 54, 54);
      color: $White;
      height: 3rem;
    }

    tbody {
      tr {
        &:nth-child(even) {
          background-color: #f9f9f9;
        }

        &:hover {
          background-color: #e7e6e6;
        }
      }
      td {
        max-width: 20rem;
        text-align: center;
        padding: 1.1rem 2.5rem;
        list-style-type: none;
        white-space: nowrap;
        overflow: hidden;
        // text-overflow: ellipsis;
      }
    }
  }
}

.percentageChart {
  width: 2rem;
  height: 10%;
  border: 1px solid black;
  border-radius: 15px;
}
.list-items {
  margin-top: 1rem;
}
.View-Button,
.Start-Button {
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.View-Button {
  background-color: #4caf50;
  color: white;
}

.Start-Button,
.feedback-Button {
  background-color: #606795;
  border: none;
  padding: 0.5rem;
  margin-right: 1rem;
  margin-left: 1rem;
  color: white;
}



.status-Button-selected {
  background-color: green;
  border: none;
  padding: 0.5rem;
  margin-right: 1rem;
  margin-left: 2rem;
  color: white;
}

.status-Button-rejected {
  background-color: red;
  border: none;
  padding: 0.5rem;
  margin-right: 1rem;
  margin-left: 2rem;
  color: white;
}
.reschedule-Button {
  background-color: #606795;
  border: none;
  padding: 0.5rem;
  margin-right: 1rem;
  margin-left: 1rem;
  color: white;
  cursor: pointer;
}
.download-Button {
  background: none;
  border: none;
  width: 1rem;
  cursor: pointer;
  font-size: 1.5rem;
}
