$Primary: #20bb20;

.switchbox {
  display: flex;
  margin-left: 100px;
  margin-top: 50px;
  font-family: Arial, Helvetica, sans-serif;
}

.firstswitch,
.secondswitch {
  padding: 10px;
  cursor: pointer;
  display: flex;


  &.active {
    // background-color: $Primary;
    border-bottom: 2px solid $Primary;
    // color: #fff;
    // border-radius: 8px;
  }
}

.Title,
.Title2 {
  margin-top: 40px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 30px;
}

.form,
.form2 {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 13px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  text-align: left;
}

.Details {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.SecondPagecontent {
  margin-left: 200px;
}

.column {
  display: flex;
  flex-direction: column;
}

