$Primary: #333751;

.previous {
    background-color: $Primary;
    height: 3.25rem; // 52px / 16
    width: 10.9375rem; // 175px / 16
    color: white;
    border: none;
    margin-top: 1.25rem; // 20px / 16
    margin-left: 1.25rem; // 20px / 16
    border-radius: 1.25rem; // 20px / 16
    font-size: 1.125rem; // 18px / 16
    padding-top: 0.03125rem; // 0.5px / 16
}

.prevcontent {
    display: flex;
    padding-left: 1.875rem; // 30px / 16
}

.next {
    background-color: $Primary;
    height: 3.25rem; // 52px / 16
    width: 10.9375rem; // 175px / 16
    color: white;
    border: none;
    margin-top: 1.25rem; // 20px / 16
    margin-left: 3.75rem; // 60px / 16
    border-radius: 1.25rem; // 20px / 16
    font-size: 1.125rem; // 18px / 16
    padding-top: 0.03125rem; // 0.5px / 16
}

.nexttext {
    padding-right: 0.3125rem; // 5px / 16
}

.nextcontent {
    display: flex;
    padding-left: 3.75rem; // 60px / 16
}
.submit
{
    background-color: $Primary;
    height: 3.25rem; // 52px / 16
    width: 160px;// 16
    color: white;
    border: none;
    margin-top: 1.25rem; // 20px / 16
    margin-left: 100px; 
    border-radius: 1.25rem; // 20px / 16
    font-size: 1.125rem; // 18px / 16
    padding-top: 0.03125rem; // 0.5px / 16
}
.compile
{
    background-color: $Primary;
    height: 3.25rem; // 52px / 16
    width: 160px;// 16
    color: white;
    border: none;
    margin-top: 1.25rem; // 20px / 16
    margin-left: 150px; 
    border-radius: 1.25rem; // 20px / 16
    font-size: 1.125rem; // 18px / 16
    padding-top: 0.03125rem; // 0.5px / 16
}
