@import '../stylesheets/index.scss';

.Layout {
  width: 100vw;
  height: 100vh;
  display: flex;
  overflow: hidden;
  .sidebar {
    min-width: 20rem;
    // height: 100vh;
  }
  .Outlet {
    width: 100%;
    padding: 1rem;
    overflow-y: scroll;
  }
}
